* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-light {
  color: #f8f9fa;
}

.text-dark {
  color: #343a40;
}

.text-center {
  text-align: center;
}

.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: #f8f9fa;
}

body {
  font-family: "Overpass", sans-serif;
  background: #fff;
  color: #007bff;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  height: 4rem;
  left: 0px;
  top: 0;
  width: 100%;
  border: 1px solid;
  -webkit-box-shadow: 0px 10px 8px 10px #888888;
  box-shadow: 5px 5px 15px 5px #888888;
}

header .text-title {
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  font-size: 1.4rem;
  margin: 5px;
  text-align: left;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

header .text-title span {
  font-size: 1.1rem;
  font-weight: 80;
}

header .auth {
  text-align: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-top: 5px;
}

.btn {
  padding: 9px;
  margin: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-light {
  background-color: #fff;
  border-color: #fff;
  font-weight: bold;
  color: #343a40;
  border-radius: 5px;
  border-style: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  border-style: none;
}

main {
  min-height: 75vh;
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #fff;
  margin-top: 5rem;
}

main .calender {
  min-height: 88vh;
  width: 100%;
  background-color: #f8f9fa;
}

.container {
  margin: 10% auto 10% auto;
  width: 45%;
  min-height: 320px;
  background-color: #f8f9fa;
  height: auto;
  padding: 10px;
}

.login {
  margin: 2% auto 2% auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login h2 {
  text-align: center;
}

.login .btn {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.login .text-para {
  width: 100%;
  margin: 10px auto 10px auto;
  display: flexbox;
  color: #343a40;
}

.form-input {
  margin: 0 auto 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: 1rem;
}

.form-label {
  margin: 1% auto 1% auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.form-input:focus {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.btn:focus {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.link {
  text-decoration: none;
  color: #719ECE;
}

.link:visited {
  color: #719ECE;
}

.link:hover {
  color: #007bff;
}

.uppercase {
  text-transform: uppercase;
}

span {
  cursor: pointer;
}

.mt-4 {
  margin-top: 4rem;
}

.vertical-center {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  left: 37%;
}

.center-title {
  text-transform: uppercase;
}

.calender_view {
  border-radius: 20px;
  width: 110px;
  padding: 10px;
  margin-left: auto;
  margin-right: 10%;
  top: 15%;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.calender_view select {
  width: 100%;
  text-transform: capitalize;
  padding: 10px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: bold;
}

.calender_view select:hover {
  background-color: #f8f9fa;
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.calender_view option {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
}

.calender_view option:hover {
  background-color: #007bff;
}

.month_calendar {
  height: 88vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto;
  -ms-grid-rows: auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto;
  row-gap: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.calendar_box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  height: auto;
  margin: 0 5px 0 5px;
  cursor: pointer;
}

.week_box {
  font-size: 1rem;
  text-align: center;
  height: 50px;
}

.calendar_box:hover {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.next_prev_calender_box {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  height: auto;
  margin: 0 5px 0 5px;
  cursor: pointer;
}

span {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-weight: bold;
  margin: 5px;
}

span:hover {
  outline: none !important;
  border: 1px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #007bff;
  color: white;
}

.round {
  border-radius: 50%;
}

.prev-next-month {
  position: absolute;
  width: 120px;
  top: 2%;
  left: 20%;
}
