* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-light {
  color: #f8f9fa;
}

.text-dark {
  color: #343a40;
}

.text-center {
  text-align: center;
}

.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: #f8f9fa;
}

body {
  font-family: "Overpass", sans-serif;
  background: #fff;
  color: #007bff;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  height: 4rem;
  left: 0px;
  top: 0;
  width: 100%;
  border: 1px solid;
  -webkit-box-shadow: 0px 10px 8px 10px #888888;
  box-shadow: 5px 5px 15px 5px #888888;
}

header .text-title {
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  font-size: 1.4rem;
  margin: 5px;
  text-align: left;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

header .text-title span {
  font-size: 1.1rem;
  font-weight: 80;
}

header .auth {
  text-align: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-top: 5px;
}

.btn {
  padding: 9px;
  margin: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-light {
  background-color: #fff;
  border-color: #fff;
  font-weight: bold;
  color: #343a40;
  border-radius: 5px;
  border-style: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  border-style: none;
}

main {
  min-height: 75vh;
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #fff;
  margin-top: 5rem;
}

main .calender {
  min-height: 88vh;
  width: 100%;
  background-color: #f8f9fa;
}

.container {
  margin: 10% auto 10% auto;
  width: 45%;
  min-height: 320px;
  background-color: #f8f9fa;
  height: auto;
  padding: 10px;
}

.container-batch-form-left {
  margin: 0 auto 0 0;
  width: 50%;
  min-height: 320px;
  background-color: #f8f9fa;
  height: 80vh;
  padding: 10px;
  float: left;
}

.container-batch-form-right {
  margin: 0 0 0 auto;
  width: 50%;
  min-height: 320px;
  background-color: #f8f9fa;
  height: 80vh;
  padding: 10px;
}

.scroller {
  overflow-y: auto;
  max-height: 75vh;
}

.login {
  margin: 2% auto 2% auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login h2 {
  text-align: center;
}

.login .btn {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.login .text-para {
  width: 100%;
  margin: 10px auto 10px auto;
  display: flexbox;
  color: #343a40;
}

.form-input {
  margin: 0 auto 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: 1rem;
}

.form-label {
  margin: 1% auto 1% auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.form-input:focus {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.btn:focus {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.link {
  text-decoration: none;
  color: #719ECE;
}

.link:visited {
  color: #719ECE;
}

.link:hover {
  color: #007bff;
}

.uppercase {
  text-transform: uppercase;
}

span {
  cursor: pointer;
}

.mt-4 {
  margin-top: 4rem;
}

.vertical-center {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  left: 37%;
}

.center-title {
  text-transform: uppercase;
}

.calender_view {
  border-radius: 20px;
  width: 110px;
  padding: 10px;
  margin-left: auto;
  top: 15%;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  float: left;
}

.calender_view select {
  width: 100%;
  text-transform: capitalize;
  padding: 10px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: bold;
}

.calender_view select:hover {
  background-color: #f8f9fa;
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.calender_view option {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
}

.calender_view option:hover {
  background-color: #007bff;
}

.month_calendar {
  height: 88vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto;
  -ms-grid-rows: auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto;
  row-gap: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.calendar_box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  height: auto;
  margin: 0 5px 0 5px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.week_box {
  font-size: 1rem;
  text-align: center;
  height: 50px;
}

.schedule_box {
  background-color: #007bff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  color: #fff;
  width: 100%;
  text-align: center;
  height: auto;
  margin: 5px;
  cursor: pointer;
}

.user_box {
  font-size: 1rem;
  text-align: center;
  height: 50px;
  width: auto;
  background-color: #fff;
  border: 2px solid #007bff;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.user_box:hover {
  outline: none !important;
  border: 2px solid #28a745;
  -webkit-box-shadow: 0 0 10px #71ce98;
          box-shadow: 0 0 10px #71ce98;
}

.users-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.calendar_box:hover {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.day_calendar_box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px auto;
  font-size: 1rem;
  text-align: center;
  height: auto;
  display: -ms-grid;
  display: grid;
  cursor: pointer;
}

.day_calendar_box .hours {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  height: 40px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

.day_calendar_box .hours:hover {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.week_calendar_box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px auto;
  font-size: 1rem;
  text-align: center;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  cursor: pointer;
}

.week_calendar_box .hours {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  height: 40px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

.week_calendar_box .hours:hover {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.week_calendar_box:hover {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.next_prev_calender_box {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  height: auto;
  margin: 0 5px 0 5px;
  cursor: pointer;
}

.display_month_year {
  position: absolute;
  top: 0%;
  left: 27%;
  padding: 5px;
  font-size: 1rem;
  text-align: center;
  height: 50px;
  width: auto;
  margin: 5px;
}

span {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-weight: bold;
  margin: 5px;
}

span:hover {
  outline: none !important;
  border: 1px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #007bff;
  color: white;
}

.round {
  border-radius: 50%;
}

.prev-next-month {
  position: absolute;
  width: 120px;
  top: 2%;
  left: 20%;
}

.day_ui {
  width: '35px';
  height: '35px';
  padding: '8px';
  margin-left: 'auto';
  margin-right: 'auto';
}

.list-group {
  display: block;
  margin-left: 60%;
  width: 20%;
  margin-right: auto;
  float: left;
}

.list-group .list-group-item {
  list-style-type: none;
  height: 30px;
  padding: 5px;
  float: left;
  margin: 10px;
  cursor: pointer;
  top: 2%;
}

.list-group .list-group-item a {
  text-decoration: none;
}

.list-group .list-group-item:hover {
  outline: none !important;
  border: 1px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  background-color: #fff;
}

a:active {
  color: blue;
}

a {
  text-decoration: none;
}

.batches {
  margin: 10px;
  min-height: 80vh;
}

.teachers {
  margin: 10px;
  min-height: 80vh;
}

.grid-batches {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  min-height: 20vh;
}

.grid-batches .batch-box {
  background-color: white;
  border: 2px solid #343a40;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  height: 20vh;
  margin: 15px 5px 0 5px;
  cursor: pointer;
}

.grid-batches .batch-box:hover {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.text-batch-heading {
  padding: 2px;
  text-transform: uppercase;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  border-style: none;
}

.btn-primary:hover {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.btn-danger:hover {
  outline: none !important;
  border: 2px solid #dc3545;
  -webkit-box-shadow: 0 0 10px #ce7171;
          box-shadow: 0 0 10px #ce7171;
}

.batch-header {
  width: 100%;
  border: 2px solid #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pull-right {
  margin-left: auto;
}

.pull-left {
  margin-right: auto;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  border-style: none;
}

.btn-secondary:hover {
  outline: none !important;
  border: 2px solid #6c757d;
  -webkit-box-shadow: 0 0 10px #d8d8d8;
          box-shadow: 0 0 10px #d8d8d8;
}

.user_grid {
  display: 'grid';
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  left: 40%;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  height: 100vh;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #007bff;
  color: white;
}

.modal-body {
  margin: 10px auto 10px auto;
  padding: 2px 16px;
  height: 65%;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #f8f9fa;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toast-container {
  position: fixed;
  z-index: 1420;
  width: 33%;
  left: 33%;
  height: 40px;
  top: 10%;
  right: 33%;
  border-radius: 5px;
  display: none;
}

.toast-success {
  background-color: #28a745;
  border: 2px solid #28a745;
  outline: none !important;
  -webkit-box-shadow: 0 0 10px #71ce95;
          box-shadow: 0 0 10px #71ce95;
}

.toast-danger {
  background-color: #dc3545;
  border: 2px solid #dc3545;
  outline: none !important;
  -webkit-box-shadow: 0 0 10px #ce8771;
          box-shadow: 0 0 10px #ce8771;
  text-align: center;
}

.toast-text {
  color: #fff;
  text-align: center;
  margin: 5px auto 5px auto;
}

.button {
  background-color: dodgerblue;
  position: absolute;
  top: 10%;
  left: 1%;
  border: none;
  color: white;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-schedule {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.btn-schedule:hover {
  outline: none !important;
  border: 2px solid #007bff;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.teacher-filter {
  position: absolute;
  top: 8%;
  right: 2%;
  width: auto;
  height: 20px;
}
